PORT=4000
NODE_ENV=development

# MongoDB
MONGODB_URL=YOUR_MONGODB_URL

# JWT
JWT_SECRET=YOUR_JWT_SECRET

# Cloudinary
CLOUD_NAME=YOUR_CLOUD_NAME
API_KEY=YOUR_CLOUDINARY_API_KEY
API_SECRET=YOUR_CLOUDINARY_API_SECRET
FOLDER_NAME=EduVault

# Razorpay
RAZORPAY_KEY=YOUR_RAZORPAY_KEY_ID
RAZORPAY_SECRET=YOUR_RAZORPAY_SECRET

# Email (Gmail SMTP)
MAIL_HOST=smtp.gmail.com
MAIL_USER=YOUR_GMAIL
MAIL_PASS=YOUR_GMAIL_APP_PASSWORD

# Frontend
FRONTEND_URL=http://localhost:3000
